.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project-item {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.project-name {
  padding-left: 10px;
}

.project-title {
  display: flex;
  align-items: 'center';
  padding: '0px 15px'
}



[data-testid="side-navigation"] {
  background-color: none !important; /* Cambia este color al que desees */
}

[data-testid="seccions" ]  button.css-1ic5nr4{
  background: none !important; 
}

[data-testid="seccions" ]  li :hover{
  border-radius: 0px;
  background: #ebecf0 !important; /* Cambia este color al que desees */
}